# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: osx-arm64
# created-by: conda 24.9.2
snowflake-connector-python
snowflake-snowpark-python
streamlit
